body{
    background-color: #E4E1F2;
}
nav{
    color: white;
    position: relative;
    background-color: black;
    height: 5rem;
    width: 100%;
    text-align: center;
}

h1{
    text-align: center;
}
