.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.mentor-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#757BC8;
    background-color: white;
    width:45%;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1{
    font-weight: bold;
    font-size: 2.25rem;
}
h3{
    font-weight: lighter;
}

h4{
    padding: 0.15rem;
    margin: 0;
}
.black{
    color: black;
    padding: 0.5rem;
    margin: 0;
}

.default-profile-picture{
    width: 8rem;
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: #E4E1F2;
    width: 75%;
    padding: 1rem;
    border-radius: 10px;
}

.submit-button{
    background-color: #757BC8;
    border:1px solid #757BC8;
    margin-top: 1rem;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    cursor:pointer;
    transition: all 0.15s ease-in;
    width: 85%;
}

.submit-button:hover{
    background-color: white;
    border:1px solid #757BC8;
    color:#757BC8;
}